<div class="auth">
    <div id="register">
        <h1>Создать аккаунт</h1>
        <form action="/api/account/" method="POST">
            <div>
                <input id="reg_email" name="email" type="email" class="validate" required>
                <label for="reg_mail">Email</label>
                <span data-error="Введите email"></span>
            </div>

            <div>
                <input id="reg_name" name="name" type="text" class="validate" required>
                <label for="reg_name">Имя</label>
                <span data-error="Введите имя"></span>
            </div>

            <div>
                <input id="reg_password" name="password" type="password" class="validate" required>
                <label for="reg_password">Пароль</label>
                <span data-error="Введите пароль"></span>
            </div>

            <div>
                <input id="confirm" name="confirm" type="password" class="validate" required>
                <label for="confirm">Пароль еще раз</label>
                <span data-error="Введите пароль"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>