<form action="/api/deletedEntity/delete/" method="post">

    <div class="input-field">
        <input id="_id" name="_id" value="{{deVM._id}}" type="text" class="validate" required>
        <label for="_id">ID</label>
        <span class="helper-text" data-error="Введите ID"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Удалить объект окончательно</button>

</form>