{{#if isAdm}}
    <h1>Изменить существующий аккаунт</h1>

    <form action="/api/account/edit" method="POST">
        <div class="input-field">
            <input id="email" name="email" type="text" class="validate" value="{{accountVM.email}}" required>
            <label for="email">Email</label>
            <span class="helper-text" data-error="Введите email"></span>
        </div>

        <div class="input-field">
            <input id="name" name="name" type="text" class="validate" value="{{accountVM.name}}" required>
            <label for="name">Имя</label>
            <span class="helper-text" data-error="Введите имя"></span>
        </div>

        <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Пароль</label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>


        <input type="hidden" name="_id" value="{{accountVM._id}}">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Изменить аккаунт</button>
    </form>
{{/if}}