{{#if isAdm}}
    <h2>Добавить ALT к картинке</h2>
    <form action="/api/image/updateAlt" method="POST">
        <div class="input-field">
            <input id="i_path" name="i_path" type="text" class="validate" required>
            <label for="i_path">Путь картинки</label>
            <span class="helper-text" data-error="Введите путь до картинки"></span>
        </div>

        <div class="input-field">
            <input id="i_alt" name="i_alt" type="text" class="validate" required>
            <label for="i_alt">ALT:</label>
            <span class="helper-text" data-error="Введите текст"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary">Добавить ALT</button>
    </form>


    <h2>Удалить ALT картинке</h2>
    <form action="/api/image/removeAlt" method="POST">
        <div class="input-field">
            <input id="i_path" name="i_path" type="text" class="validate" required>
            <label for="i_path">Путь картинки</label>
            <span class="helper-text" data-error="Введите путь до картинки"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary">Убрать ALT</button>
    </form>
{{/if}}