{{#if isAdm}}
    <!--Панель управления администратора-->
    <h1>Панель администратора</h1>

    <h2>Работа с коллекциями</h2>
    <ul>
        <li><a href="/admin/addCollection">Добавление коллекции</a></li>
        <li><a href="/admin/allCollections">Посмотреть все коллекции</a></li>
    </ul>


    <h2>Работа с товарами</h2>
    <ul>
        <li><a href="/admin/addProduct">Добавление товара</a></li>
        <li><a href="/admin/allProducts">Посмотреть все товары</a></li>
    </ul>

    <h2>Работа со скидками (акциями)</h2>
    <ul>
        <li><a href="/admin/addSale">Добавление скидки (акции)</a></li>
        <li><a href="/admin/allSales">Посмотреть все скидки (акции)</a></li>
    </ul>

    <h2>Работа со складом</h2>
    <a href="/admin/stockPanel">Панель управления складом</a>

    <h2>Заказы</h2>
    <a href="/admin/ordersPanel">Панель управления заказами</a>

    <h2>Аккаунты </h2>
    <a href="/admin/accountPanel">Панель управления аккаунтами</a>

    <h2>Статические страницы</h2>
    <ul>
        <li><a href="/admin/editStaticPages">Изменить статические страницы</a></li>
    </ul>

    <h2>Управление картинками</h2>
    <div><a href="/admin/imagesPanel">Панель управления картинками</a></div>
    <div><a href="/admin/imagesAltPanel">Панель управления альтами</a></div>

    <h2>Управление настройками сайта</h2>
    <a href="/admin/metaDataPanel">Панель управления настройками</a>

    <h2>Удалённые объекты</h2>
    <a href="/admin/allDeleted">Панель управления удалёнными объектами</a>

    <div>
        <a href="/auth/logout">Выйти</a>
    </div>

    <a href="/backup/download" download>Загрузить бэкап</a>

{{/if}}







