{{#if isAdm}}
    {{#if accountViewModel}}
        <div>email: {{accountViewModel.email}}</div>
        <div>name: {{accountViewModel.name}}</div>

        <div>Корзина:
            <ul>
                {{#each accountViewModel.cart.items}}

                {{/each}}
            </ul>
        </div>
        <div>Заказы:
            <ul>
                {{#each accountViewModel.orders}}

                {{/each}}
            </ul>
        </div>
        <div>Список желаемого:
            <ul>
                {{#each accountViewModel.wishlist}}

                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/if}}