<!-- Пример формы для оформления заказа-->
{{#if isAdm}}
    <h1>Добавить новый товар</h1>

    <form action="/api/order/confirmOrder" method="POST">
        <div class="input-field">
            <input id="cart" name="cart" type="text" class="validate" value={"items":[{"product":{"name":"Квази_свеча_33","price":600},"count":3},{"product":{"name":"Супер_мыло_1","price":500},"count":3},{"product":{"name":"Квази_свеча_2","price":2000},"count":3}]} required>
            <label for="cart">Корзина товаров</label>
            <span class="helper-text" data-error="Содержимое корзины"></span>
        </div>

        <div class="input-field">
            <input id="email" name="email" type="text" class="validate" required>
            <label for="email">Email</label>
            <span class="helper-text" data-error="Введите email"></span>
        </div>

        <div class="input-field">
            <input id="phone" name="phone" type="text" class="validate" required>
            <label for="phone">Телефон</label>
            <span class="helper-text" data-error="Введите телефон"></span>
        </div>

        <div class="input-field">
            <input id="name" name="name" type="text" class="validate" required>
            <label for="name">Имя</label>
            <span class="helper-text" data-error="Введите имя "></span>
        </div>

        <div class="input-field">
            <input id="address" name="address" type="text" class="validate">
            <label for="address">Адрес</label>
            <span class="helper-text" data-error="Введите адрес"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary">Оформить заказ</button>
    </form>
{{/if}}

<!-- cart example:
{"items":[{"product":{"name":"Квази_свеча_33","price":600},"count":3},{"product":{"name":"Супер_мыло_1","price":500},"count":3},{"product":{"name":"Квази_свеча_2","price":2000},"count":3}]}
-->