<h3>Восстановление по ID deletedEntity</h3>
<form action="/api/deletedEntity/recoverByEid/" method="post">

    <div class="input-field">
        <input id="_id" name="_id" type="text" value="{{deVM._id}}" class="validate" required>
        <label for="_id">ID</label>
        <span class="helper-text" data-error="Введите ID"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Восстановить объект</button>

</form>

<h3>Восстановление по ID удалённого объекта</h3>
<form action="/api/deletedEntity/recoverByOid/" method="post">

    <div class="input-field">
        <input id="deletedObjectId" name="deletedObjectId" value="{{deVM.deletedObjectId}}" type="text" class="validate" required>
        <label for="deletedObjectId">ID</label>
        <span class="helper-text" data-error="Введите ID"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Восстановить объект</button>

</form>