# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/node_modules
/.idea

/keys
/mail

package-lock.json
/package-lock.json

/public/images

/backup

/logs