<a href="/">Soap-HBS</a>

<form action="/api/order/cancel" method="POST">
    <div>
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Email</label>
        <span data-error="Введите email"></span>
    </div>
    <div>
        <input id="orderId" name="orderId" type="text" class="validate" required>
        <label for="orderId">OrderId</label>
        <span data-error="Введите ID заказа"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit">Отменить заказ</button>
</form>