<h1>Добро пожаловать</h1>

<p>Здесь только лучшее мыло, свечи, штуки всякие</p>

<ul>
    <li><a href="/about">О нас</a></li>
    <li><a href="/contacts">Контакты</a></li>
    <li><a href="/delivery">Доставка</a></li>
    <li><a href="/partnership">Партнерство</a></li>
    <li><a href="/qasection">Вопрос-ответ</a></li>
    <li><a href="/sertificates">Сертификаты</a></li>
</ul>
<ul>
    <li><a href="/checkOrder">Проверить заказ</a></li>
    <li><a href="/cancelOrder">Отменить заказ</a></li>
</ul>


<a href="/shop">Магазин</a>

{{#if isAcc}}
    <a href="/auth/logout">Выйти</a>
{{else}}
    <a href="/auth/login">Авторизация</a>
    <a href="/auth/register">Регистрация</a>
{{/if}}


{{#if isAdm}}
    <hr>
    <a href="/admin/index">Админка</a>
    <a href="/auth/logout">Выйти</a>
{{else}}
    <a href="/auth/admin/login">Вход в админку</a>
    <hr>
{{/if}}


<hr>
<hr>
<form action="/api/search/find" method="GET">
    <div>
        <input id="userInput" name="userInput" type="text" class="validate" required>
        <label for="userInput">ввод</label>
        <span data-error="Введите что-нибудь"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit">Поиск</button>
</form>


<hr>
<hr>
<form action="/api/search/findInNames" method="GET">
    <div>
        <input id="userInput" name="userInput" type="text" class="validate" required>
        <label for="userInput">ввод</label>
        <span data-error="Введите что-нибудь"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit">Поиск (по именам)</button>
</form>
